/*ALL PAGES MAIN TITLE & NAVBAR*/
.mainTitleSub {
    color: mediumvioletred;
    font-weight:lighter;
    font-size: 30px;
}
.navbar{
background-color: black;
    color: aliceblue;
}

.backgroundDiv {
    padding: 40px;
    
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.imageWrapper {
    padding: 50px;
}

.servicesImages{
    width: 100%;
    height: auto;
    border: mediumvioletred 2px solid;
}

.sentMessage{
color: mediumvioletred;
}

.background {
    
}

.fullTextStyling {
font-style: italic;
    font-size: 15px;
    font-family: Calibri;
    margin-top: 15px;
    color: mediumvioletred;
}

.contactSection {
    font-weight: bold;
}

.contactInfoSection{
    font-weight: lighter;
    color: mediumvioletred;
}

ui-accordion {
color: aqua;
}

.hidden {
    display: none;
}

.cuteformting {
    padding: 50px;
}

.workContainer {
    cursor: auto;
}

.workTitle {
    cursor: pointer;
}

.contactButton {
    border: solid mediumvioletred 2px;
}

.iframeButton {
    position: relative;
}

.pdfFrame {
    text-align: center;
    margin-left: 50px;
}

.buttonStyling {
    text-align: center;
    background-color:transparent;
    color: mediumvioletred;
    border-radius: 500px;
    box-shadow: none;
    cursor: default;
    text-shadow: none; 
    border: 1px;
}


.searchFormBox {
    width
}

.buttonStyling:hover{
    color:black;
}
.nameForm {
padding: 10px;
    
}

.formText {
    color: mediumvioletred
}
.messageBoxForm {
    padding: 20px;
    width:100%;
    height: 200px;
}

.nameFormBox {
    padding: 200px;
        border-radius: 50px;
color: mediumvioletred;
}

#searchBox {
    padding: 20px;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}


#search:hover {
    color: blue;
}


.contactPadding {
    padding: 50px;
}

.contactColon {
    color: mediumvioletred;
}

.contactDescription {
    font-weight: bold;
}

.sendForm {
border: solid 1px mediumvioletred;     
    
}

.emailForm {
        border-radius: 25px; 
    text-align: left;
    border: solid 1px mediumvioletred;     
        padding: 10px;
}

.dadsWorks{
    margin-top:50px;
    font-family:  Calibri;
text-align: justify;
}

#formatting{
    background-color: red;
}

.selected{
    color:mediumvioletred;
}

/*ABOUT PAGE*/
.about-section {
    position: relative;
    font-size:17px;
        text-align: justify;
    cursor: pointer;
}

a:hover {
color:mediumvioletred;
    text-decoration: none;
}

.aboutP {
    padding: 20px;
}

.personalMessage {
        padding: 20px;

}
.personalTitle {
    color: mediumvioletred;
}

.displayAuthor {
font-size:15px;
    font-style: italic;
    float: right;
    color: dodgerblue;
}

.dadsWorks {
padding-bottom: 200px;
}



/* FADE-IN-ABOUT PAGE
#test p {
    opacity: 0;
    font-size: 21px;
    margin-top: 120px;
    margin-right: 200px;
    position: relative;
    text-align: center;
    font-family:  Garamond;

    -webkit-transition: all 1s ease-in;
       -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
         -o-transition: all 1s ease-in;
            transition: all 1s ease-in;
}

#test p.load {
    opacity: 1;
}*/

